In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Data/trumptweets.csv')

In [3]:
df.shape

(7497, 7)

In [5]:
df.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for Android,Russians are playing @CNN and @NBCNews for suc...,12-30-2016 22:18:18,23213,84254,False,814958820980039681
1,Twitter for iPhone,Join @AmerIcan32 founded by Hall of Fame legen...,12-30-2016 19:46:55,7366,25336,False,814920722208296960
2,Twitter for Android,Great move on delay (by V. Putin) - I always k...,12-30-2016 19:41:33,34415,97669,False,814919370711461890
3,Twitter for iPhone,My Administration will follow two simple rules...,12-29-2016 14:54:21,11330,45609,False,814484710025994241
4,Twitter for iPhone,'Economists say Trump delivered hope' https://...,12-28-2016 22:06:28,13919,51857,False,814231064847728640

In [6]:
df['created_at'] = pd.to_datetime(df['created_at'])

In [8]:
df.sort_values(by = 'created_at', ascending = True, inplace = True)

In [21]:
df.index = list(range(df.shape[0]))

In [22]:
df.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for Android,@yankzpat: HEY! I hope to meet @realDonaldTrum...,2015-06-01 09:54:51,10,36,False,605311537255956480
1,Twitter for Android,I will be on @foxandfriends at 7:00 A.M. ENJOY!,2015-06-01 10:23:13,26,91,False,605318676955439104
2,Twitter for Android,@pacsgirl36: @realDonaldTrump run !!! We need ...,2015-06-01 11:29:13,13,51,False,605335287150034945
3,Twitter for Android,@jkellywwip: @realDonaldTrump killed it on @fo...,2015-06-01 11:29:21,6,25,False,605335318192091136
4,Twitter for Android,@aalucero: @pacsgirl36 I luv Donald Trump in ...,2015-06-01 12:47:42,11,29,False,605355038488313856

In [23]:
df.text[4]

'@aalucero: @pacsgirl36  I luv Donald Trump in his sleep he is leaps &amp; bounds over what we have now - I have no doubt he luvs America!'